Weather-Forecast-Dashboard JSON code for Node-RED.txt
[{"id":"1402fa73.703696","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"afb33e60.ba806","type":"inject","z":"1402fa73.703696","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["55b94575.0517dc"]]},{"id":"55b94575.0517dc","type":"http request","z":"1402fa73.703696","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/onecall?lat=20.296059&lon=85.824539& exclude=hourly,current&appid=3f334ba71e4891829c6b142ad5c2a8ce","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":160,"wires":[["4d23c283.e35e1c"]]},{"id":"4d23c283.e35e1c","type":"json","z":"1402fa73.703696","name":"","property":"payload","action":"","pretty":false,"x":430,"y":240,"wires":[["95743379.caba9","2bbe2afb.033e46","a457f2b2.f9c71","8d93c269.d3b85","eeac5bec.a8a0f8","b5105501.7abf28"]]},{"id":"e1aa7a6f.d9b868","type":"ui_gauge","z":"1402fa73.703696","name":"","group":"c4ada4c7.edffe8","order":1,"width":6,"height":6,"gtype":"gage","title":"Temperature","label":"(in ⁰ C)","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":80,"wires":[]},{"id":"2bbe2afb.033e46","type":"function","z":"1402fa73.703696","name":"temperature","func":"msg.payload = msg.payload.daily[0].temp.day;\nmsg.payload -= 273;\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":80,"wires":[["e1aa7a6f.d9b868","ad5ba89c.f80388"]]},{"id":"a457f2b2.f9c71","type":"function","z":"1402fa73.703696","name":"Humidity","func":"msg.payload = msg.payload.daily[0].humidity;\nmsg.payload = String(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["5cd57436.238e0c","43c6db37.fbc604"]]},{"id":"8d93c269.d3b85","type":"function","z":"1402fa73.703696","name":"Pressure","func":"msg.payload = msg.payload.daily[0].pressure;\nmsg.payload = String(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["baf99be.8e74868","b343ddf6.99939"]]},{"id":"95743379.caba9","type":"function","z":"1402fa73.703696","name":"Weather","func":"msg.payload = msg.payload.daily[0].weather[0].main;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["c2317999.2690c8","7de3431b.4e981c"]]},{"id":"eeac5bec.a8a0f8","type":"function","z":"1402fa73.703696","name":"Wind Speed","func":"msg.payload = msg.payload.daily[0].wind_speed;\nmsg.payload = String(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["e1aa7801.688368","5b4e2f2c.825ee"]]},{"id":"5cd57436.238e0c","type":"ui_gauge","z":"1402fa73.703696","name":"","group":"c4ada4c7.edffe8","order":2,"width":6,"height":6,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":160,"wires":[]},{"id":"c2317999.2690c8","type":"ui_text","z":"1402fa73.703696","group":"c4ada4c7.edffe8","order":3,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}}","layout":"col-center","x":850,"y":320,"wires":[]},{"id":"baf99be.8e74868","type":"ui_gauge","z":"1402fa73.703696","name":"","group":"c4ada4c7.edffe8","order":4,"width":6,"height":6,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":240,"wires":[]},{"id":"e1aa7801.688368","type":"ui_gauge","z":"1402fa73.703696","name":"","group":"c4ada4c7.edffe8","order":5,"width":6,"height":6,"gtype":"gage","title":"Wind Speed","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":400,"wires":[]},{"id":"ad5ba89c.f80388","type":"csv","z":"1402fa73.703696","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"Temperature","skip":"0","strings":true,"x":790,"y":120,"wires":[["362d3650.2395aa"]]},{"id":"362d3650.2395aa","type":"file","z":"1402fa73.703696","name":"","filename":"/home/ubuntu/IOT_OP/weather.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1300,"y":260,"wires":[[]]},{"id":"43c6db37.fbc604","type":"csv","z":"1402fa73.703696","name":"","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"Humidity","skip":"0","strings":true,"x":800,"y":200,"wires":[["362d3650.2395aa"]]},{"id":"b343ddf6.99939","type":"csv","z":"1402fa73.703696","name":"","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"Pressure","skip":"0","strings":true,"x":800,"y":280,"wires":[["362d3650.2395aa"]]},{"id":"7de3431b.4e981c","type":"csv","z":"1402fa73.703696","name":"","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"Weather","skip":"0","strings":true,"x":799,"y":360,"wires":[["362d3650.2395aa"]]},{"id":"5b4e2f2c.825ee","type":"csv","z":"1402fa73.703696","name":"","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"Wind Speed","skip":"0","strings":true,"x":800,"y":440,"wires":[["362d3650.2395aa"]]},{"id":"b5105501.7abf28","type":"function","z":"1402fa73.703696","name":"Date","func":"msg.payload = msg.payload.daily[0].dt;\nmsg.payload = new Date(msg.payload * 1000);\nvar todate=new Date(msg.payload).getDate();\nvar tomonth=new Date(msg.payload).getMonth()+1;\nvar toyear=new Date(msg.payload).getFullYear();\nvar hours =new Date(msg.payload).getHours();\nvar minutes =new Date(msg.payload).getMinutes();\nvar seconds =new Date(msg.payload).getSeconds();\nvar timestamp=todate+'-'+tomonth+'-'+toyear+' '+hours+':'+minutes+':'+seconds;\nmsg.payload = timestamp;\nmsg.payload = String(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["88971023.180c2"]]},{"id":"88971023.180c2","type":"csv","z":"1402fa73.703696","name":"","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"Date","skip":"0","strings":true,"x":810,"y":500,"wires":[["362d3650.2395aa"]]},{"id":"c4ada4c7.edffe8","type":"ui_group","z":"","name":"Bhubaneswar","tab":"1e73e9eb.1311c6","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e73e9eb.1311c6","type":"ui_tab","z":"","name":"Weather Forecast","icon":"dashboard","order":1,"disabled":false,"hidden":false}]